*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}
/*Первая часть.*/
header{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
}
.navbar-brand img{
    width: 51px;
    height: 51px;
}
.navbar{
    width: 100%;
}
.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.btn{
    background: #FFFFFF;
    border: 1.5px solid #B7B3B3;
    color: black;
    border-radius: 0;
    width: 100px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
}
.btn:hover{
    background: white;
    color: black;
    border: 1.5px solid #B7B3B3;
    border-radius: 0;
}
#sign-in-btn{
    color: black;
}
#reg-btn{
    background: #6C63FF;
    color: white;
}
.nav-item{
    font-weight: bold;
    font-size: 16px;
    color: #000000;
}
.navbar-brand{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.nav-title{
    font-weight: 600;
    font-size: 25px;
    color: #6C63FF;
}
.first-nav{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 20%;
}
.second-nav{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.home{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 100px 0 0 60px;
}
.home-wrapper{
    width: 50%;
    justify-content: center;
}
.home-img{
    justify-content: center;
}
.home-hr{
    width: 52px;
    border: 2px solid #B7B3B3;
    background-color:  #B7B3B3 ;
}
.home-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 44px;
    color: #000000;
}
.home-info{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    opacity: 0.6;
}
.home-reg{
     width: 146px;
     height: 50px;
     background: #6C63FF;
     border: 1.5px solid #353434;
     font-family: 'Montserrat', sans-serif;
     font-weight: 500;
     font-size: 16px;
     color: #FFFFFF;
     margin-right: 20px ;
 }
 .home-learn{
     width: 125px;
     height: 50px;
     background: #FFFFFF;
     border: 1.5px solid #B7B3B3;
     font-family: 'Montserrat', sans-serif;
     font-weight: 500;
     font-size: 16px;
     color:#000000;
 }
 /*Вторая часть.*/
.how-works{
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    font-weight: 600;
    font-size: 44px;
    line-height: 54px;
    color: #000000;
    margin-bottom: 1.6%;
}
.line{
    width: 86px;
    height: 0px;
    border: 3px solid #C4C4C4;
    background-color: #C4C4C4;
    margin-bottom: 1.6%;
}
.how-works-descr{
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    color: #000000;
    opacity: 0.6;
    width: 40%;
    text-align: center;
    margin-bottom: 6.25%;
}
.owl-carousel{
    width: 90%;
    margin: auto;
}
.owl-carousel .item{
    width: 70%;
    margin: auto;
}
.item-title{
    font-weight: 600;
    font-size: 35px;
    color: #000000;
    text-align: center;
}
.item-descr{
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    opacity: 0.6;
}
.owl-prev, .owl-next{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 40%;
    background-color: #F1F1F1 !important;
    border-radius: 50% !important;
}
.owl-prev{
    left: 0;
}
.owl-next{
    right: 0;
}
/*Третья часть*/
.balance{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.balance-img{
    background-image: url("../img/Ellipse 4.png");
    background-repeat: no-repeat;
    background-size: cover;
}
h3{
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
    margin-bottom: 10px;
}
.balance-descr{
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    opacity: 0.75;
    margin-top: 35px ;
}
.balance-a{
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.06em;
    color: #6C63FF;
}
.balance-title{
    font-weight: 600;
    font-size: 40px;
    color: #000000;
}
/*Четвертая часть*/
.services{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.services-wrapper{
    width: 50%;
    margin: auto;
}
.services-all-info{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
h4{
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.services-info{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.services-img{
}
/* About us*/
.about-us{
    height: 50%;
    background-color: #6C63FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-us-text{
    padding-left: 100px;
}
.about-us-title{
    width: 10%;
    font-size:33px ;
    color: white;
    font-style: italic ;
    font-weight: lighter;
}
.about-us-line{
    width: 20%;
    opacity: 0.8;
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
}
.about-us-descr{
    font-size: 22px ;
    color: white;
}
.about-us-item{
    border-radius: 5px;
    background-color: white;
}