*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 99%;
    background-color: whitesmoke;
    margin: 20px auto;
    border-radius: 8px;
    padding: 30px 15px 15px 15px;
}
h1, p{
    text-align: center;
}
h1{
    font-size: 48px;
}
p{
    font-size: 20px;
    margin: 10px 0 10px;
    margin-bottom: 10px;
}
img{
    width: 80%;
    height: 80%;
    display:block;
    margin: auto;
    padding: 25px 0 25px 0;
}
section{
    background-color: white;
}
.timeLine{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    padding: 25px;
}
li{
   margin-bottom: 20px;
}
ul{
    font-size: 20px;
}
.quote{
    width: 50%;
    background-color: whitesmoke;
    margin: 30px 0 30px;
}
.moreInfo{
    margin: 30px 0 30px;
}
.photo{
    border-radius: 10px;
}
a:visited{
    color: darkslategray;
}
a:active{
    color: rgb(25, 255, 247);
    font-size: 20px;
}
a{
    text-decoration: none;
}