.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    justify-content: center;
    align-items: center;
}
.item{
    padding: 10px;
    border: 1px solid black;
}
.item3{
    justify-self: center;
}