/* ПЕРВЫЙ СПОСОБ
 body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin:0;
    padding: 0;
}
.btn{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background: linear-gradient(#f5af19,#f12711,#f5af19);
    text-decoration:none;
    padding: 20px 70px;
    border-radius: 10px;
    background-size:200% ;
    transition: 1s;
    cursor:pointer;
}
.btn:hover{
    background-position: right;
} */







 ВТОРОЙ СПОСОБ
 body{
    padding: 0;
    margin: 0;
}
.btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 60px;
    padding: 0 20px;
    background: transparent;
    color: white;
    border-radius: 40px;
    text-decoration: none;
    overflow: hidden;
}
.btn{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}
.btn::before{
    цcontent: '';
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 40px;
    background: #de182f;
    z-index: -1;
    left: 0;
    transition: .5s;
}
.btn:hover::before{
    width: 210px;
}   